<!DOCTYPE html>

<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<body>
    <div class="jumbotron">
        <a href="{{ url_for('index') }}"><img src="/static/images/head.png" class="float-left" /></a></!DOCTYPE>
        <p id="titlehead">DeadWormy Gaming</p>
    </div>
    <div class="navbar">
        <ul>
            <li><a class="{% if app_url == '/' %} active{% endif %}" href="{{ url_for('index') }}">Home</a></li>
            <li><a class="{% if app_url == '/gaming' %} active{% endif %}" href="{{ url_for('gaming') }}">Games</a></li>
            <li><a class="{% if app_url == '/models' %} active{% endif %}" href="{{ url_for('models') }}">Models</a></li>
            <li><a class="{% if app_url == '/WIP' %} active{% endif %}" href="{{ url_for('WIP') }}">WIP</a></li>
        </ul>
    </div>
    <main>
        {% block body %}
        {% endblock %}
    </main>
    <footer>
        Copyright &#169 DeadWormy6234

        <a href="https://www.roblox.com/users/1261172287/profile" target="blank"><img class="icon" src="/static/images/roblox_icon.png" width="25" height="25" /></a>
        <a href="https://www.youtube.com/channel/UCtIY0o1PUT1EBu0iwBC-8mA" target="blank"><img class="icon" src="/static/images/youtube_red.png" width="25" height="25" /></a>
        <a href="https://deadwormy6234.itch.io/" target="blank"><img class="icon" src="/static/images/app-icon.png" width="25" height="25" /></a>
    </footer>
</body>

</html>