{% extends "base.html" %}


{% block body %}
<div class="row">
    <div class="col-lg-6 col-sm-12">
        <div class="article">
            <h2>Zombie Wars</h2>
            <h5>kill wave after wave of brain hungry zombies</h5>
            <p>
                <a class="btn btn-dark btn active" role="button" aria-pressed="true" target="blank"
                   href="https://www.roblox.com/games/4183210252/WIP-Zombie-Wars" target="blank">Play here</a>
            </p>
            <img src="/static/images/screenshot.jpg" width="500px" height="auto" />
            <div><span>Current leaders</span></div>
            <table>
                <tr>
                    <th>User</th>
                    <th>Kills</th>
                </tr>
                <tr>
                    <td>Flankeydean</td>
                    <td>112</td>
                <tr>
                    <td>DeadWormy6234</td>
                    <td>108</td>
                </tr>
                <tr>
                    <td>Kaleb6610</td>
                    <td>75</td>
                </tr>
                <tr>
                    <td>Mechalazer</td>
                    <td>64</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12">
        <div class="article">
            <h2>Space Shooter</h2>
            <p>I've created my first game in Unity and published it on Itch.io go take a look and let me know what you think</p>
            <iframe src="https://itch.io/embed/603281?linkback=true&amp;dark=true">
            </iframe>
        </div>
    </div>
</div>
{% endblock %}