{% extends "base.html" %}


{% block body %}
<div class="row">
    <div class="col-lg-8 col-sm-12">
        <div class="article">
            <h2>Space Shooter</h2>
            <h5>I've created my first game in Unity and published it on Itch.io go take a look and let me know what you think</h5>
            <iframe frameborder="0" src="https://itch.io/embed/603281?linkback=true&amp;dark=true">
                <a href="https://deadwormy6234.itch.io/space-shooter">
                    Space
                    Shooter by DeadWormy6234
                </a>
            </iframe>
        </div>
        <div class="article">
            <h2>Zombie Wars</h2>
            <h5>kill wave after wave of brain hungry zombies</h5>
            <p>
                <a class="btn btn-dark btn active" role="button" aria-pressed="true" target="blank" href="https://www.roblox.com/games/4183210252/WIP-Zombie-Wars" target="blank">
                    Play
                    here
                </a>
            </p>
            <img src="/static/images/screenshot.jpg" width="500px" height="auto" />
        </div>
        <div class="article">
            <h2>A Dead Place</h2>
            <img src="/static/images/A_dead_place.jpg" />
            <p>
                A zombie RPG, find the cure, save your friend and escape the island, sounds easy... right!?
            </p>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="article">
            <h2>About Me</h2>
            <p>Part time 3D modeller and game developer, come say hello at the link below</p>
            <p>
                Deadwormy6234
                <a href="https://www.roblox.com/users/1261172287/profile" target="blank"><img class="imglink" src="/static/images/roblox_icon.png" width="30" height="30" /></a>
                <a href="https://www.youtube.com/channel/UCtIY0o1PUT1EBu0iwBC-8mA" target="blank"><img class="imglink" src="/static/images/youtube_red.png" width="30" height="30" /></a>
                <a href="https://deadwormy6234.itch.io/" target="blank"><img class="imglink" src="/static/images/app-icon.png" width="30" height="30" /></a>
            </p>
        </div>
    </div>
</div>
{% endblock %}