{% extends "base.html" %}


{% block body %}
<div class="row">
    <div class="col-lg-6 col-sm-12">
        <div class="article">
            <h2>Low poly rifle</h2>
            <img src="/static/images/low_poly_rifle.jpg">
            <p class="description">A low poly rifle made for Zombie wars</p>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12">
        <div class="article">
            <h2>Victorian Street light</h2>
            <img src="/static/images/Street_light.jpg">
            <p class="description">A victorian street light made for a dark RPG</p>
        </div>
    </div>
</div>
{% endblock %}