{% extends "base.html" %}


{% block body %}
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="article">
                <h2>A Dead Place</h2>
                <img src="/static/images/A_dead_place.jpg" />
                <p>
                    A zombie RPG, find the cure, save your friend and escape the island, sounds easy... right!?
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="article">
                <h2>2D Platform</h2>
                <p>
                    Creating my first 2D platform game usung Unity
                </p>
                <iframe src="https://www.youtube.com/embed/afA8-pi2sMo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="article">
                <h2>Procedural level generation</h2>
                <p>
                    Currently working on procedural level generation
                </p>
                <iframe src="https://www.youtube.com/embed/gLL5fCoB4zU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endblock %}