@media ( min-width: 540px) {
    body {
        background-color: #222831;
        max-width: 80%;
        margin: auto;
    }
    .jumbotron {
        min-height: 120px;
    }

    .jumbotron > p {
        font-size: xx-large;
    }
}

@media ( max-width: 540px) {
    body {
        background-color: #222831;
        max-width: 100%;
        margin: auto;
    }
    .jumbotron {
        min-height: 70px;
    }

    .jumbotron > p {
        font-size: large;
    }
}

.jumbotron {
    padding: 10px;
    background-image: url('images/codeBackground.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.jumbotron img {
    max-width: 20%;
    object-fit: contain;
    max-height: 100px;
}

img {
    display: inline-block;
    max-width: 100%;
    margin: auto;
  }


main {
    background-color: #30475e;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 5px;
}


.article {
    height: auto;
    color: black;
    border-radius: 5px;
    padding: 10px;
    background-color: #6d7993;
    margin: 10px;
}

.article img {
    border-radius: 5px;
    border: 2px solid #021a40;
    border-color: black;
}
.icon {
    float: right;
    width: 25px;
    height: 25px;
}

.float-left {
    padding-left: 1em;
}

footer {
    position: relative;
    width: 100%;
    margin: 0px;
    bottom: 0px;
    border-radius: 10px;
    padding: 5px;
    background-color: #3C3F5D;
    text-align: center;
    color: white;
}

#titlehead {
    color: greenyellow;
    padding-left: 2em;
    margin-left: 2em;
}

.description {
    color: black;
    padding: 5px;
    margin-top: 2px;
}
.imglink {
    border: none !important;
    width : 30px;
    height: 30px;
}
.iframe {
    display: inline-block;
    width: 100%;
    min-height: 250px;
}
body {
    padding-top: 50px;
    justify-content: center;
    align-items: center;
}

.background {
    border-radius: 15px;
    padding: 5px;
    margin: auto;
    width: 410px;
    height: auto;
    background-image: linear-gradient(45deg, grey, grey, lightgrey, grey, grey);
    box-shadow: 5px 5px 5px 3px;
}

.mainBody {
    border-radius: 10px;
    padding: 40px 20px 40px 20px;
    margin: auto;
    width: 400px;
    height: auto;
    background-image: linear-gradient(-45deg, grey, grey, lightgrey, grey, grey);
    box-shadow: 5px 5px 5px 3px inset;
}

.screen {
    padding: 5px;
    display: flex;
    align-items: center;
    border: 10px solid;
    border-color: rgb(78, 72, 72);
    border-radius: 5px;
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
    background-color: aquamarine;
    height: 80px;
    position: relative;
    box-shadow: rgb(75, 183, 147) 3px 3px 3px 3px inset;
}

.small-screen-text {
    text-align: left;
    font-size: 12px;
    position: absolute;
    width: 100%;
    height: 12px;
    top: 2px;
    left: 2px;
}

.screen-text {
    text-align: right;
    font-size: 64px;
    position: absolute;
    width: 100%;
    height: 64px;
    bottom: 15px;
    right: 10px;
}

.screen-text-small {
    text-align: right;
    font-size: 32px;
    position: absolute;
    width: 100%;
    height: 32px;
    bottom: 15px;
    right: 10px;
}

.button-grid {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

.button-container {
    border-radius: 20px;
    width: 100%;
    padding-top: 100%;
    position: relative;
    box-shadow: 2px 2px 2px 2px;
}

.button-container-equals {
    border-radius: 20px;
    width: 100%;
    padding-top: 33%;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 4;
    box-shadow: 2px 2px 2px 3px;
}

.number-button {
    color: white;
    font-size: 32px;
    border-radius: 20px;
    background-color: darkgray;
    background-image: linear-gradient(black, grey, black);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 1px 1px 1px 1px inset;
}

button:active {
    outline: none;
    border: none;
}

button:focus {
    outline: 0;
}
