.navbar {
    margin: 0px 0px 5px 0px;
    width: 100%;
    padding: 0px;
    background-color: #3C3F5D;
    border-radius: 10px;
}

    .navbar ul {
        width: 100%;
        border-radius: 15px;
        margin: 0px;
        list-style-type: none;
        overflow: hidden;
        background-color: #3C3F5D;
    }

    .navbar li {
        float: left;
    }

        .navbar li a {
            display: block;
            color: white;
            margin: 0px;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            .navbar li a:hover {
                background-color: #222831;
                color: white;
            }

    .navbar .active {
        background-color: #c1a57b;
        color: black;
        font-weight: 800;
    }

table {
    width: 30%;
    border: 2px solid black;
}

    table th {
        border: 1px solid black;
        padding: 5px;
        color: lightgrey;
        background-color: darkslategrey;
    }

    table td {
        border: 1px solid black;
        padding: 5px;
        color: white;
    }

    table tr:nth-child(odd) {
        background-color: #2b2a2a !important;
    }

div span {
    font-size: larger;
    padding: 2em;
}
