@media ( min-width: 540px) {
    body {
        background-color: #222831;
        max-width: 80%;
        min-height: 100vh;
        margin: auto;
    }

    .jumbotron {
        min-height: 120px;
    }

        .jumbotron > p {
            font-size: xx-large;
        }
}

@media ( max-width: 540px) {
    body {
        background-color: #222831;
        max-width: 100%;
        min-height: 100vh;
        margin: auto;
    }

    .jumbotron {
        min-height: 70px;
    }

        .jumbotron > p {
            font-size: large;
        }
}

.jumbotron {
    padding: 10px;
    background-image: url('images/code-screen.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
}

    .jumbotron img {
        max-width: 20%;
        object-fit: contain;
        max-height: 100px;
    }

#titlehead {
    color: #6d7993;
    text-shadow: 5px 2px 2px #000000;
    font-weight: 800;
    padding-left: 2em;
    margin-left: 2em;
}

main {
    background-color: #30475e;
    padding: 10px;
    width: 100%;
    min-height: 70vh;
    border-radius: 10px;
    margin-bottom: 5px;
}

.article {
    height: auto;
    color: black;
    border-radius: 5px;
    padding: 10px;
    background-color: #6d7993;
    margin: 10px;
}

    .article img {
        border-radius: 5px;
        border: 2px solid #021a40;
        border-color: black;
    }

a {
    color: black;
}

img {
    display: inline-block;
    max-width: 100%;
    margin: auto;
}

.imglink {
    border: none !important;
    width: 30px;
    height: 30px;
}

.description {
    color: black;
    padding: 5px;
    margin-top: 2px;
}

.iframe {
    display: inline-block;
    width: 100%;
    min-height: 250px;
    border-radius: 5px;
    border: 2px solid #021a40;
}

.icon {
    float: right;
    width: 25px;
    height: 25px;
}

.float-left {
    padding-left: 1em;
}

footer {
    background-image: linear-gradient(#3C3F5D, #30475e);
    position: relative;
    width: 100%;
    margin: 0px;
    bottom: 0px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    color: white;
}
